@model LibraryManagementSystem.Models.IssueRecord

@{
    ViewData["Title"] = "Issue Record Details";
}

<h1>Issue Record Details</h1>

<div>
    <h4>Issue Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Book Title</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Book.Title)</dd>
        
        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Book.Author)</dd>
        
        <dt class="col-sm-3">Member Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Member.Name)</dd>
        
        <dt class="col-sm-3">Member Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Member.Email)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IssueDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IssueDate)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReturnDate)</dt>
        <dd class="col-sm-9">
            @if (Model.ReturnDate.HasValue)
            {
                @Html.DisplayFor(model => model.ReturnDate)
            }
            else
            {
                <span class="badge bg-warning">Not Returned</span>
            }
        </dd>
        
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
            @if (Model.ReturnDate.HasValue)
            {
                <span class="badge bg-success">Returned</span>
            }
            else
            {
                <span class="badge bg-warning">Issued</span>
            }
        </dd>
    </dl>
</div>
<div>
    @if (!Model.ReturnDate.HasValue)
    {
        <a asp-action="Return" asp-route-id="@Model?.IssueRecordId" class="btn btn-success">Return Book</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
